* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "sans-serif";
}

.debug {
  border: 1px solid red;
}

header {
  display: flex;
  flex-direction: column;
  background: #fff259;
  height: 100px;
  color: #333333;
  font-weight: 400;
  font-size: 13px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 17px 166px;
  height: 156px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
}

input {
  height: 39px;
  width: 598px;
  box-shadow: 0px 1px 2px #00000033;
  border: 0;
  border-radius: 2px;
}

hr {
    border: 1px solid #e0e0e0;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  height: 50;
}

.logo {
  grid-column: 3/5;
  padding: 11px 0px 5px;
}

.barra {
  height: 39px;
  grid-column: 5/16;
  padding: 8px 0px 3px;
}

.header-container-menu {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  height: 50;
  padding: 19px 0px 11px;
}

.domicilio {
  grid-column: 3/5;
}

.menu {
  grid-column: 5/13;
  display: flex;
  color: #857f43;
  gap: 18px;
}

.cuenta {
  grid-column: 14/19;
}

.footer-options {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 11px;
    line-height: 13px;
    gap: 2px;
    padding: 7px 0px 14px;
  }

  .super-logo {
    gap: 20px;
    padding: 18px;
  }
  