/*Prefixes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "sans-serif";
  font-style: normal;
}
.debug {
  border: 2px solid red;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  background: #fff259;
  height: 100px;
  color: #333333;
  font-weight: 400;
  font-size: 13px;
}
input {
  height: 39px;
  width: 598px;
  box-shadow: 0px 1px 2px #00000033;
  border: 0;
  border-radius: 2px;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  height: 50;
}
.logo {
  grid-column: 3/5;
  padding: 11px 0px 5px;
}
.barra {
  height: 39px;
  grid-column: 5/16;
  padding: 8px 0px 3px;
}
.header-container-menu {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  height: 50;
  padding: 19px 0px 11px;
}
.domicilio {
  grid-column: 3/5;
}
.menu {
  grid-column: 5/14;
  display: flex;
  color: #857f43;
  gap: 18px;
}
.cuenta {
  grid-column: 14/19;
}

/*Promotion banner*/
.promotion {
  background-image: url("/media/promo.png");
  background-color: #d9412c;
  width: 100;
  height: 340px;
}
.promotion-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 318px 0px 16px;
  gap: 4px;
}
button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  border: solid #fff;
  background-color: #9d412b;
}
.button-selected {
  width: 9px;
  height: 9px;
  border: solid #9d412b;
  background-color: #fff;
}

/*Main*/

/*Sections*/
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  padding: 0px 164px;
}
.sections-title {
  font-weight: 300;
  font-size: 25px;
  line-height: 31px;
  color: #666666;
}
.sections-blue {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding: 9px 0px 2px;
  color: #3483fa;
}

/*Payment section*/
.payment {
  display: grid;
  grid-template-columns: 240px 333px 310px 1px 310px;
  background-color: #fff;
  border-radius: 4px;
  width: 1184px;
  height: 90px;
  margin: 40px 164px 50px;
}
.payment-section {
  display: grid;
  grid-template-columns: 84px auto;
  grid-template-rows: 45px 45px;
  height: 90px;
}
.payment-section-icon {
  grid-column: 1;
  margin: 20px 0px 22px 20px;
}
.payment-section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  grid-column: 2;
  margin: 24px 0px 3px;
}
.payment-section-vermas {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #296af8;
  grid-column: 2;
}
.payment-section-line {
  width: 1px;
  height: 90px;
  background: #dbdbdb;
}

/*Sales section*/
.sales-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 0px 57px;
  gap: 16px;
}
.card {
  display: grid;
  grid-template-rows: 224px 126px;
  background-color: #fff;
  width: 224px;
  height: 350px;
}
.card-price {
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 19px 38px 58px 16px;
  gap: 11px;
}
.card-discount {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #00a650;
}
.card-ship-full {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

/*Level 6 section*/
.level6 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 1180px;
  height: 340px;
  border-radius: 6px;
}
.level6-header {
  display: grid;
  grid-template-columns: 1024px 3px 154px;
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51 100%);
  width: 1180px;
  height: 87px;
  border-radius: 6px 6px 0px 0px;
}
.level6-header-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding: 24px 0px 24px 24px;
}
.level6-line {
  width: 2px;
  height: 37px;
  margin: 24px 0px 26px 0px;
  background: #fff;
}
.level6-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 23px 0px 6px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
}
.level6-price-line {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
}
.level6-price-final {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}
.level6-benefits {
  display: flex;
  flex-direction: column;
  height: 172px;
}
.level6-benefits-title {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  height: 45px;
  padding: 20px 0px 0px 24px;
}
.level6-benefits-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 127px;
  padding: 29px 24px 25px;
}
.level6-benefits-section-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 377px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  padding: 0px 47px 0px 0px;
  gap: 17px;
}
.level6-footer {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 81px;
}
.level6-button {
  background-color: #3483fa;
  width: 123px;
  height: 48px;
  border-radius: 6px;
  margin: 16px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 48px;
  color: #fff;
}

/*Mercado puntos section*/
.points {
  width: 1180px;
  padding: 80px 0px 93px;
}
.points-title {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 25px;
}
.points-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 0px 0px;
  gap: 16px;
}
.points-card {
  position: relative;
  width: 384px;
  height: 250px;
  border-radius: 6px;
}
.points-image {
  position: relative;
  left: 0px;
  top: 0px;
}
.points-info {
  position: relative;
  top: -130px;
  display: grid;
  grid-template-columns: 112px auto;
  height: 124px;
}
.points-info-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  margin: 33px 0px 22px;
  gap: 5px;
}
.points-info-logo {
  margin: 28px 16px 16px 16px;
}
.points-info-description-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}
.points-info-description-gift {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}
.points-info-description-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

/*Benefit section*/
.benefit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 300px;
}
.benefit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.benefit-title {
  font-size: 20px;
  line-height: 28px;
  color: #4b4b4b;
  font-weight: 500;
  text-align: center;
  padding: 20px 0px 0px;
}
.benefit-description {
  font-size: 15px;
  line-height: 18px;
  color: #818181;
  font-weight: 400;
  text-align: center;
  padding: 2px 48px 9px;
}
.benefit-link {
  font-size: 13px;
  line-height: 15px;
  color: #296af8;
  font-weight: 400;
  text-align: center;
}
.line {
  width: 1px;
  height: 65px;
  margin: 110px 0px 160px 0px;
  background: #dbdbdb;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 17px 166px;
  height: 156px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
}
.footer-options {
  display: flex;
  flex-direction: row;
  gap: 21px;
}
.footer-rights {
  display: flex;
  flex-direction: column;
  color: #999999;
  font-size: 11px;
  line-height: 13px;
  gap: 2px;
  padding: 7px 0px 14px;
}
.super-logo {
  gap: 20px;
  padding: 18px;
}

/*Others*/
hr {
  border: 1px solid #e0e0e0;
}
